****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [61]:
# import packages for json file loading and processing
import json
import pandas as pd
from pandas.io.json import json_normalize

#dispaly all columns in world_bank_projects json file
pd.set_option('display.max_columns', 500)

### Question 1: Find the 10 countries with most projects

In [42]:
# load world_bank_projects.json as pandas dataframe
wb_data = pd.read_json('C:/Users/46126/JupyterProject/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json')

# display first 3 rows of wb_data dataframe
wb_data.head(3)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,docty,envassesmentcategorycode,grantamt,ibrdcommamt,id,idacommamt,impagency,lendinginstr,lendinginstrtype,lendprojectcost,majorsector_percent,mjsector_namecode,mjtheme,mjtheme_namecode,mjthemecode,prodline,prodlinetext,productlinetype,project_abstract,project_name,projectdocs,projectfinancialtype,projectstatusdisplay,regionname,sector,sector1,sector2,sector3,sector4,sector_namecode,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,"Project Information Document,Indigenous People...",C,0,0,P129828,130000000,MINISTRY OF EDUCATION,Investment Project Financing,IN,550000000,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...","[{'code': 'EX', 'name': 'Education'}, {'code':...",[Human development],"[{'code': '8', 'name': 'Human development'}, {...","8,11",PE,IBRD/IDA,L,{'cdata': 'The development objective of the Se...,Ethiopia General Education Quality Improvement...,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",IDA,Active,Africa,"[{'Name': 'Primary education'}, {'Name': 'Seco...","{'Percent': 46, 'Name': 'Primary education'}","{'Percent': 26, 'Name': 'Secondary education'}","{'Percent': 16, 'Name': 'Public administration...","{'Percent': 12, 'Name': 'Tertiary education'}","[{'code': 'EP', 'name': 'Primary education'}, ...","ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,"Project Information Document,Integrated Safegu...",C,4700000,0,P144674,0,MINISTRY OF FINANCE,Specific Investment Loan,IN,5700000,"[{'Percent': 70, 'Name': 'Public Administratio...","[{'code': 'BX', 'name': 'Public Administration...","[Economic management, Social protection and ri...","[{'code': '1', 'name': 'Economic management'},...","1,6",RE,Recipient Executed Activities,L,NaN,TN: DTF Social Protection Reforms Support,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",OTHER,Active,Middle East and North Africa,[{'Name': 'Public administration- Other social...,"{'Percent': 70, 'Name': 'Public administration...","{'Percent': 30, 'Name': 'General public admini...",NaN,NaN,"[{'code': 'BS', 'name': 'Public administration...","BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,"Resettlement Plan,Environmental Assessment,Int...",B,0,0,P145310,6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Investment Project Financing,IN,6060000,"[{'Percent': 100, 'Name': 'Transportation'}]","[{'code': 'TX', 'name': 'Transportation'}]","[Trade and integration, Public sector governan...","[{'code': '5', 'name': 'Trade and integration'...","5,2,11,6",PE,IBRD/IDA,L,NaN,Tuvalu Aviation Investment Project - Additiona...,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",IDA,Active,East Asia and Pacific,[{'Name': 'Rural and Inter-Urban Roads and Hig...,"{'Percent': 100, 'Name': 'Rural and Inter-Urba...",NaN,NaN,NaN,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en

In [37]:
# make sure that there are countries that have more than one projects
print(wb_data.project_name.isnull().sum())
print(wb_data.countryname.isnull().sum())
len(wb_data.project_name.unique()) == len(wb_data.countryname.unique())

0
0

False

In [44]:
# find the 10 countries with most projects
pd.value_counts(wb_data.countryname, sort = True).head(11)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Burkina Faso                        9
Name: countryname, dtype: int64

The 10 countries with most projects are: 'Republic of Indonesia', "People's Republic of China",  'Socialist Republic of Vietnam', 'Republic of India', 'Republic of Yemen', 'Kingdom of Morocco', 'Nepal', "People's Republic of Bangladesh", 'Republic of Mozambique', and 'Africa'

PS: not sure Africa here stands for a country or a continent because of lacking of metadata

### Question 2&3: Find the top 10 major project themes

In [67]:
# load world_bank_projects.json as string
wb_json = json.load((open('C:/Users/46126/JupyterProject/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json')))

# use normalization to create tables from nested element
wb_theme = json_normalize(wb_json, 'mjtheme_namecode')

In [80]:
# display first 5 rows of wb_theme dataframe
wb_theme.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

Here we detected that some value are blank under 'name' column. To understand what that blank value is, we need to further look into this dataframe.

In [88]:
# generates descriptive statistics
print(wb_theme.describe())

# missing value detection
print(wb_theme.code.isnull().sum())
print(wb_theme.name.isnull().sum())

# unique values in 'name' column
wb_theme.name.unique()

        code                                          name
count   1499                                          1499
unique    11                                            12
top       11  Environment and natural resources management
freq     250                                           223
0
0

array(['Human development', '', 'Economic management',
       'Social protection and risk management', 'Trade and integration',
       'Public sector governance',
       'Environment and natural resources management',
       'Social dev/gender/inclusion',
       'Financial and private sector development', 'Rural development',
       'Urban development', 'Rule of law'], dtype=object)

The blank value under 'name' column seems missing value. Following this, a dataframe with the missing names filled is created.

In [117]:
# create a dictionary that includes all code-name information
code_name_dict = dict({'1':'Economic management',
              '2':'Public sector governance',
              '3':'Rule of law',
              '4':'Financial and private sector development',
              '5':'Trade and integration',
              '6':'Social protection and risk management',
              '7':'Social dev/gender/inclusion',
              '8':'Human development',
              '9':'Urban development',
              '10':'Rural development',
              '11': 'Environment and natural resources management'})

In [125]:
# turn above dictionary to a dataframe
code_name = pd.DataFrame(list(code_name_dict.items()), columns=['code', 'name'])

In [132]:
# merge two dataframes to fill missing value
wb_theme_filled = wb_theme.merge(code_name, on = 'code', how = 'left').drop('name_x', axis = 1)
wb_theme_filled.columns = ['code', 'name']

Now we have a dataframe with missing value filled, the last step will lead us to the top 10 major project themes

In [138]:
# find the top 10 major project themes
pd.value_counts(wb_theme_filled.name, sort = True).head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

The top 10 major projects are: Environment and natural resources management, Rural development, Human development, Public sector governance, Social protection and risk management, Financial and private sector development, Social dev/gender/inclusion, Trade and integration, Urban development, Economic management